body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  opacity: 0.6;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  padding: 10px;
}

.time {
  display: flex;
  border-top: 2px solid black;
  justify-content: space-evenly;
}

.save {
  background-color:deepskyblue;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 1;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  padding-top: 25px;
  color:white;
}

button.save {
  display:inline-grid;
  font-size:18px;
}

.clear {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  background-color:red;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  border:none;
}

.trash .material-icons {
  display:flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

span.trash.material-icons {
  padding-top: 12px;
  font-size: 28px;
}

.jumbotron {
  text-align: center;
  background-color: honeydew;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.display-3 {
  color: cadetblue;
}

header p {
  color: cadetblue;
  font-size: 24px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

@media (max-width: 770px) {
  .display-3 {
    font-size: 48px;
  }

  header p {
    font-size: 18px;
  }

  .time {
    font-size: 14px;
  }

  .save-span {
    display:none;
  }

  .trash-span {
    display:none;
  }
  span.trash.material-icons {
    margin-top: 11px;
}
}